html,
body {
  height: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: black;
  height: 100%;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'pixel';
  src: url('/QuinqueFive.ttf');
}
